<!DOCTYPE html>
<html lang="en">
    {% extends "main.html" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    
    <div class="col-6">
        <section class="bg-light p-5">
        <h2>Edit {{ products.product_name }}</h2>
        <div class="row pt-4">
            <div class="col-5">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ products.product_image.url }}" style="height: 15rem;" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">Item: {{ products.product_name }}</h5>
                    <h5 class="card-title">Price: {{ products.product_price }}</h5>
                    <p class="card-text">Desc: {{ products.product_desc }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if msg %}
                <div class="msg text-center">
                    <span class="text-primary">{{ msg }}</span>
                </div>
                {% endif %}
        </section>
    </div>

    <div class="col-6">
        <div class="card-body">
            <h2>View Products Details</h2>
            <form class="row g-3" method="post" action="{% url 'product_edit' pk=products.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="fullname" class="form-label">Product Name</label>
                    <input class="form-control" id="product_name" type="text" name="product_name" value="{{ products.product_name }}" type="text"
                        placeholder="Product name">
                </div>

                <div class="mb-3">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" name="product_author" class="form-control" value="{{ products.product_author }}" id="author"
                        placeholder="author name">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" name="product_price" class="form-control" id="price" value="{{ products.product_price }}" placeholder="Enter Price">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Image</label>
                    
                    <div class="input-group mb-2">
                      <img class="card-img-top" src="{{products.product_image.url}}" alt="Card image" style="width:150px">
                    </div>
                    <div class="input-group">
                      <label class="input-group-text" for="upload">Upload</label>
                      <input type="file" class="form-control" name="product_image" id="upload">
                    </div>
                </div>

                <div class="">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="product_desc" id="description" rows="3">{{ products.product_desc }}</textarea>
                </div>

                <div class="msg">
                    <span class="text-primary"></span>
                </div>

                <div class="mb-3">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <a href="{% url 'product_delete' pk=products.pk %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                  </a>
                </div>
            </form>

        </div>
    </div>
    
    {% endblock %}
</body>
</html>